@page "/login/login"

@using BTMAppUI.Data.Authentication;
@using BTMAppUI.Service;
@using DAL.Contracts;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject IUserAccountService userAccountService;
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject ProtectedSessionStorage ProtectedSessionStore


@code {
	private class Model
	{
		public string UserName { get; set; }
		public string Password { get; set; }
	}
	private Model model = new Model();
	private string ErrorMessage;
	private string SuccessMessage;
	private async Task Authenticate()
	{
		var userAccount = await userAccountService.GetByUserName(model.UserName);
		if (userAccount == null || userAccount.Password != model.Password)
		{
			ErrorMessage = "Sorry, username or password is invalid.";
			return;
		}

		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
		await customAuthStateProvider.UpdateAuthenticationState(new UserSession
			{
				UserName = userAccount.UserName,
				Role = userAccount.Role
			});
		navManager.NavigateTo("/", true);
	}


}
<div class="border col-md-4 col-sm-6 col-sm-8 col-sm-12  col-lg-4 col-md-6 m-auto mt-5 p-5 shadow-sm">
	<div class="m-auto text-center">
		<h4>Login</h4>
	</div>
	<div class="col col-md-10 m-auto">
		<div class="mb-3">
			<label class="form-label">Username</label>
			<input type="username" class="form-control" id="username" aria-describedby="emailHelp" @bind="model.UserName">
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" @bind="model.Password">
		</div>
		<div class="text-center">
			<button type="button" class="btn m-auto" @onclick="Authenticate">Submit</button>
		</div>
		@if (ErrorMessage != null || SuccessMessage != null)
		{
			<div class="text-center  mt-3 border">
				<span class="text-danger">@ErrorMessage</span>
				<span class="text-success">@SuccessMessage</span>
			</div>
		}
	</div>
</div>
