body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.searchProduct input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.searchProduct button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #909090;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    form.searchProduct button:hover {
        background: #2e2c2c
    }

form.searchProduct::after {
    content: "";
    clear: both;
    display: table;
}
