body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.searchProduct input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.searchProduct button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #909090;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    form.searchProduct button:hover {
        background: #2e2c2c
    }

form.searchProduct::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #eee
}

.product {
    padding: 10px;
    background-color: #fff;
    position: relative
}

.about h4 {
    margin-bottom: -3px
}

.about h3 {
    color: #e3ce57
}

.about span {
    font-size: 13px
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #e3ce57;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 10%;
    z-index: 10;
    bottom: -5%
}

.inner-dot {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer
}
